extends layout

block head

block content
  div.container
    div.row
      h1 Sign This Doc!
      p Select a PDF from your computer and quickly fill form data and sign and download a new PDF containing your changes.
      p PRIVACY is important so this web app has been designed so your PDF, signatures, and data will NOT leave your local computer. The server never receives any of the data you enter into the form.

    div.row
      div.col(style="background-color: #0000FF")
          div.drag-and-drop
            form(action="#")
              p Select or drag-and-drop a PDF, fill and sign, then download it.
              input(type="file" id="txtFile", accept=".pdf")

    hr

    div
      div#toolbar.hide(style="position: fixed; top: 100px; right: 100px; height: 500px; width: 500px; z-index: 9999;")
        select#selectFontSize
          option 12
          option 14
          option 16
          option 20
          option(selected="selected") 24
          option 32
          option 48
          option 64
          option 72

        button(id="btnAddTextField").btn.btn-primary Add Text Field
        button(id="btnCreateSignature").btn.btn-primary Create Signature
        button(id="btnDownload").btn.btn-success Download Document
        div#frameSignatureCollection
          .card(style='float: right; width: 18rem;')
            .card-body
              h5.card-title Signatures


        div#signatureModal.modal(tabindex='-1')
          .modal-dialog.modal-lg
            .modal-content
              .modal-header
                h5.modal-title Create a new signature
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
              .modal-body
                div#frameSignature
                  canvas#signature(width="798" height="512")
              .modal-footer
                button(id="btnClearSignature").btn.btn-outline-primary Clear
                button(id="btnSaveSignature").btn.btn-outline-primary Save Signature

  .position-fixed.bottom-0.end-0.p-3(style='z-index: 5')
    #uploadToast.toast.hide(role='alert' aria-live='assertive' aria-atomic='true')
      .toast-header
        .spinner-border.text-warning(role='status')
          span.visually-hidden Loading...
        strong.me-auto Working
        small Now
        button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
      .toast-body
        | Processing your document...

  div.canvas

block scripts
  script(src="/scripts/index.js")
