extends layout

block head

block content
  h1= title
  p Welcome to #{title}
  hr

  div
    form(action="#")
      input(type="file" id="txtFile", accept=".pdf")
    hr

    div
      div
        button(id="btnAddTextField") Add Text Field
        button(id="btnCreateSignature") Create Signature
      div#frameSignatureCollection

      div
        button(id="btnDownload") Download Document

      div#frameSignature.hidden
        canvas#signature(width="640" height="480")
        button(id="btnClearSignature") Clear
        button(id="btnSaveSignature") Save Signature
  div.canvas

block scripts
  script(src="/scripts/index.js")
