canvas {
    display: block;
}

div.text {
    position: absolute;
    height: 30px;
    width: 140px;
}

.hidden {
    display: none;
}

#frameSignature {

}

div.canvas-item {
    max-width: 100%;
}
